/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

/*article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

nav ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold
}

del {
    text-decoration: line-through
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0
}

input, select {
    vertical-align: middle
}

li {
    list-style: none
}

 /*==================================== My CSS ================================ */
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
* {
    font-family: Releway, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}
/*================modal window=========*/
#modalFeedback{

}
/* ---- particles.js container ---- */
#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    background: linear-gradient(to left, #dddddd, #9c9c9c);
    /*background-image: url('../img/bg1.jpeg');*/
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

}
#particles-wraper {
    position: absolute;

}
.one_section{
    margin-top: 24vh;
    margin-left: 18vw;

}
/*====================media queris============*/
@media screen and (max-width: 768px){
    .navbar{
        background: linear-gradient(to left, #dddddd, #9c9c9c);
    }
    .display-4{
        font-size: 2.5em;
    }
    .one_section{
        margin-top: 12vh;
        margin-left: 0;
    }
    .padding{
        display: none;
    }
    .two_section{
        margin-left: 0;!important;
        margin-top: 10vh;!important;
    }

}
@media screen and (max-width: 420px){
   .display-4{
       font-size: 2em;
   }
    .one_section{
        margin-top: 8vh;
        margin-left: 0;
    }
    .padding{
        display: none;
    }
    .two_section{
        margin-left: 0;!important;
        margin-top: 6vh;!important;
    }

}
@media screen and (max-height: 480px) {
    #hide{
        display: none;
    }
    .page-footer{
        display: none;
    }
}
/*=========Aside button==============*/
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 8px;
    transition: all 0.3s ease;
    color: white;
    font-size: 1em;
}

.icon-bar a:hover {
    background-color: #dddddd;
}

.skype{
    background: #9c9c9c;
    color: white;
}
.twitter {
    background: #9c9c9c;
    color: white;
}
.insta{
    background: #9c9c9c;
    color: white;
}
/*===========style for about us============*/
.two_section{
    margin-top: 24vh;
    margin-left: 14vw;

}

